{
  "stage": 0,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node":true
  },
  "plugins": [
    "react"
  ],
  "globals": {
      "jsPDF": true,
      "OTCController": true,
      "TCCNavigation": true,
      "TCCPortalNavigation": true
    },
  "rules": {
    // 0: skip
    // 1: warning
    // 2: error
    "no-mixed-spaces-and-tabs": 1,
    "semi": 1,
    "no-console": 0,
    "comma-dangle": 1, // default was error
    "no-unused-vars": [
      2,
      {
        // checks all variables for usage, including those in the global scope.
        "vars": "all",
        // do not check arguments
        "args": "none"
      }
    ],
    "react/display-name": 0
  }
}