<!doctype html>
<html class="no-js" lang="">

  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Thumper by Go Nimbly</title>
      <meta name="description" content="Static website generator for React.js web applications." />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="app" class="thumper-app"></div>
    <script src="public/app.js"></script>
    <script src="public/thumper.js"></script>
  </body>

</html>