.card-footer {
  background-color: rgb(248, 248, 255);

  pre {
    transition: height .2s ease-in-out;
    margin-bottom: 0;
    background-color: transparent;
  }

  .btn-link {
    cursor: pointer;
  }

}