@mixin inlineInput() {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px dotted transparent;
  padding-left: 0;

  &:hover {
    border-bottom: 1px dotted $gray;
  }

  &:focus {
    border-bottom: 1px dotted darken($gray, 20%);
    outline: none;
  }
}