@import 'mixins/thumper-forms-mixins';

.dropdown {
  .dropdown-toggle:not(.nav-link) {
    justify-content: flex-start;
    display: flex;
    background-color: $gray-lighter;
    color: $gray-darkest;

    &:focus, .focus{
      border-radius: 4px 4px 0 0;
      box-shadow: 0px 5px 15px 0px rgba(black, 0.15);
      transform: scaleY(1);
    }

    &:active, .active {
      transform: scaleY(0.96);
    }

    &:after {
      content: 'ï„‡';
      font-family: FontAwesome;
      color: #A8AAB7;
      border: none;
      width: 0.75rem;
      display: inline-block;
      margin-left: auto;
      padding-left: 5px;
    }
  }

  .dropdown-menu {
    border: none;
    box-shadow: 0px 5px 15px 0px rgba(black, 0.15);
    transition: all .2s ease-in-out;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;

    &.dropdown-menu-right {
      border-top-right-radius: 0;
    }

    &:not(.dropdown-menu-right) {
      border-top-left-radius: 0;
    }

    &.dropdown-menu-form {

      .dropdown-item-form {
        background-color: $gray-lightest;

        &:active {
          background-color: $gray-lightest;
        }

        input {
          @include inlineInput();
          padding-top: 0.125rem;
          padding-bottom: 0.125rem;
        }
      }
    }

    .dropdown-item {
      cursor: pointer;
      padding-top: 0.4375rem;
      padding-bottom: 0.4375rem;


      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:active {
        background-color: $gray-darker;
      }
    }

    .dropdown-divider {
      margin: 0;
    }
  }

  .btn-block + .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}