// scss-lint:disable QualifyingElement

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-weight: $btn-font-weight;
  font-size: 1rem;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all .15s ease-in-out;
  border: none;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }
  &:hover,
  &.hover {
    box-shadow: 0px 5px 15px 0px rgba(black, 0.15);
    cursor: pointer;
  }

  &:active,
  &.active {
    background-image: none;
    box-shadow: 0px 0px 2px 0px rgba($black, 0.15);
    transform: scaleY(0.96);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

.btn-primary {
  // @include button-variant($btn-primary-color, $btn-primary-bg, none);
  color: $btn-primary-color;
  background-color: $btn-primary-bg;
}
.btn-secondary {
  // @include button-variant($btn-secondary-color, $btn-secondary-bg, none);
  color: $btn-secondary-color;
  background-color: $btn-secondary-bg;
}
.btn-info {
  color: $btn-info-color;
  background-color: $btn-info-bg;
}
.btn-success {
  color: $btn-success-color;
  background-color: $btn-success-bg;
}
.btn-warning {
  color: $btn-warning-color;
  background-color: $btn-warning-bg;
}
.btn-danger {
  color: $btn-danger-color;
  background-color: $btn-danger-bg;
}

// Remove all backgrounds
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-info,
.btn-outline-success,
.btn-outline-warning,
.btn-outline-danger {
  background-color: white;
  font-weight: bold;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
}

.btn-outline-primary {
  border-color: $btn-primary-bg;
  color: $btn-primary-bg;
}
.btn-outline-secondary {
  border-color: $btn-secondary-bg;
  color: $btn-secondary-bg;
}
.btn-outline-info {
  border-color: $btn-info-bg;
  color: $btn-info-bg;
}
.btn-outline-success {
  border-color: $btn-success-bg;
  color: $btn-success-bg;
}
.btn-outline-warning {
  border-color: $btn-warning-bg;
  color: $btn-warning-bg;
}
.btn-outline-danger {
  border-color: $btn-danger-bg;
  color: $btn-danger-bg;
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  border-radius: 4px;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    color: $btn-link-disabled-color;

    @include hover-focus {
      text-decoration: none;
    }
  }

  &.fa {
    text-decoration: none;
  }
}


//
// Button Sizes
//

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// 
// Inline button
// 

.btn-inline {
  margin-right: 10px;
  margin-bottom: 8px;
}