@font-face {
  font-family: 'SentinelSSm-Medium';
  src: url('./fonts/SentinelSSm-Medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// @font-face {
//   font-family: 'SourceSansPro-Semibold';
//   src: url('./fonts/SourceSansPro-Semibold.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }