// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('./fonts/Proxima_Nova_Regular.woff2') format('woff2'), url('./fonts/Proxima_Nova_Regular.woff') format('woff');
//   font-style: bold;
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('./fonts/Proxima_Nova_Regular_Italic.woff2') format('woff2'), url('./fonts/Proxima_Nova_Regular_Italic.woff') format('woff');
//   font-style: italic;
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('./fonts/Proxima_Nova_Bold.woff2') format('woff2'), url('./fonts/Proxima_Nova_Bold.woff') format('woff');
//   font-style: normal;
//   font-weight: 700;
// }
// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('./fonts/Proxima_Nova_Bold_Italic.woff2') format('woff2'), url('./fonts/Proxima_Nova_Bold_Italic.woff') format('woff');
//   font-style: italic;
//   font-weight: 700;
// }
@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/Proxima_Nova_Semibold.woff2') format('woff2'), url('./fonts/Proxima_Nova_Semibold.woff') format('woff');
  font-style: bold;
  font-weight: 600;
}
// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('./fonts/Proxima_Nova_Semibold_Italic.woff2') format('woff2'), url('./fonts/Proxima_Nova_Semibold_Italic.woff') format('woff');
//   font-style: italic;
//   font-weight: 600;
// }
@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/Proxima_Nova_Light.woff2') format('woff2'), url('./fonts/Proxima_Nova_Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}
// @font-face {
//   font-family: 'Proxima Nova';
//   src: url('./fonts/Proxima_Nova_Light_Italic.woff2') format('woff2'), url('./fonts/Proxima_Nova_Light_Italic.woff') format('woff');
//   font-style: italic;
//   font-weight: 300;
// }