
// used to make a full height app page, shouldn't have any other margin/padding in any parent dom
// since it relys on full viewheight(100vh)
.app-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  overflow: hidden;
  width: 100%;

  h1:first-child {
    margin-top: 25px;
  }

  &.container-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .card.card-flex {
      display: flex;
      flex: 1;

      .row {
        flex: 1;
      }
    }
  }
}

div:not(.navbar) > .container {
  margin-bottom: 25px;
}

.navbar-fixed-top + .container, .navbar-fixed-top + .app-container {
  padding-top: 54px;
}

.col-flex {
  display: flex;
  flex-direction: column;
}