$grid-half-width: $grid-gutter-width / 2;
.card {
  // to ensure nothing escapes the card
  overflow: hidden;

  &.flex-card {
    display: flex;
    flex: 1;
  }
  
  & > .row {
    .card-left-panel {
      padding-left: $grid-half-width + $card-spacer-x;
      padding-right: $card-spacer-x;
      padding-top: $card-spacer-x;
      padding-bottom: $card-spacer-x;
      display: flex;
      flex-direction: column;

      & + div {
        padding-left: 0;
      }
    }

    .card-panel-block {
      flex-grow: 1;
      overflow-y: scroll;
      height: 0; //hack to allow scrolling in FF/Safari
    }

    .card-panel-footer {
      width: 100%;
      align-self: flex-end;
      flex-grow: 0;
    }
  }

  .card-footer {
    padding-top: $card-spacer-x;
    padding-bottom: $card-spacer-x;
  }

  .card-header {
    margin-bottom: 0;
  }
}

.card-secondary {
  @include card-variant($brand-secondary, $brand-secondary);
}

.container > .card {
  border-radius: .5rem;
}

// clearing out the padding if it's a card full of stacked cards
.card-block > .card:last-child {
  margin-bottom: 0;
}