@import 'mixins/thumper-forms-mixins';

.table-block {
  & > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .table-head {
    color: #636363;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .table-head-item {
      font-size: 0.75rem;
    }

    .title-column {
      padding-left: 0;

      input {
        color: #353E55;
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        @include inlineInput();
      }
    }

    .table-head-item-sortable {
      cursor: pointer;

      &:after {
        content:'';
        float: right;
        font-family: 'FontAwesome';
        color: $gray;
      }

      &.table-head-item-asc {
        &:after {
          content:'';
          color: $gray-dark;
        }
      }

      &.table-head-item-desc {
        &:after {
          content:'';
          color: $gray-dark;
        }
      }
    }
  }

  .table-row {
    background-color: #F3F3F3;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    input, p {
      font-family: $font-family-sans-serif;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
      color: #404547;
    }

    input {
      @include inlineInput();
    }


    p {
      line-height: 1.25;
      font-weight: bold;
    }
  }

  .table-summary {
    background-color: $brand-secondary;
    border-radius: 0 0 17px 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    font-weight: bold;
  }

  .table-left-btn, .table-right-btn {
    position: absolute;
    top: 0;
    height: 100%;
    color: $gray;
    background: white;
    border: none;
    border-radius: 0;
    transition: .5s all;
    
    &:hover {
      color: $gray-darker;
    }

    &:focus {
      color: $gray-darker;
      transform: scale(1.25);
      border: none;
      box-shadow: none;
    }
  }


  .table-right-menu, .table-left-menu {
    position: absolute;
    top: 0;
    height: 100%;

    & > button {
      height: 100%;
      color: $gray;
      background: white;
      border: none;
      border-radius: 0;
      transition: .5s all;

      &:hover {
        color: $gray-darker;
      }

      &:focus {
        background-color: $gray;
        color: $gray-darker;
        box-shadow: none;
      }
    }
  }

  .table-right-menu, .table-right-btn {
    left: 100%;
  }

  .table-left-menu, .table-left-btn {
    right: 100%;
  }

}