.nav {
  &.nav-tabs {
    border-color: $brand-secondary;

    .nav-link {
      border: none;
      color: $gray-darker;

      &.active {
        color: $brand-secondary;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid $brand-secondary;
      }
    }
  }

  &.nav-pills {
    .nav-link {
      
      &:hover {
        text-decoration: underline;
      }

      &.active {
        background-color: $brand-secondary;
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.bg-secondary {
  .nav-item {
    & > .nav-link {
      color: white;
      &.active {
        background-color: darken($brand-secondary, 10%);
        color: white;
      }
    }
  }
}

.bg-primary {
  .navbar-brand {
    color: white;
  }

  .nav-item {
    & > .nav-link {
      color: white;
      &.active {
        background-color: darken($brand-primary, 10%);
        color: white;
      }
    }
  }
}