.msg-block {
  padding-bottom: 0;
  flex: 1;
  display:flex;
  flex-direction: column;
  
  .msg-container {
    overflow-y: scroll;
    flex: 1;

    .msg-content {
      min-height: 100%;
      padding-bottom: 1.25rem;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .msg {
        max-width: 40%;
        padding: 6px 12px;
        border-radius: 6px;
        flex-shrink: 0;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &.msg-inbound {
          background-color: $gray-cool;
          border-top-left-radius: 0;
          align-self: flex-start;
        }

        &.msg-outbound {
          background-color: $brand-primary;
          border-top-right-radius: 0;
          align-self: flex-end;
          color: white;
        }
      }

      .msg-user {
        max-width: 40%;
        padding: 3px 0;
        flex-shrink: 0;
        font-size: 12px;
        color: $gray-light;

        &.msg-inbound {
          align-self: flex-start;
        }

        &.msg-outbound {
          align-self: flex-end;
        }
      }

      .msg.msg-inbound + .msg-user.msg-inbound {
        display: none;
      }

      .msg.msg-outbound + .msg-user.msg-outbound {
        display: none;
      }
    }
  }
}

.msg-footer {
  border-top: 1px solid $gray-cool;
  background-color: white;

  input {
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .btn {
    border-radius: 0;
  }
}
