.btn {
  font-family: $font-family-sans-serif;
  transition: background-color .2s ease-in-out;
  font-size: 0.875rem;

  &.btn-inline {
    margin-right: 10px;
    margin-bottom: 8px;
  }

  &.btn-lg {
    font-size: 1.25rem;
  }
  
}